* {
    font-family: 'Roboto', arial;
    color:#E5E7EB;
    margin: 0px;
    padding: 0px;
    background-color: #1F2937;
}

li, a, button {
    font-size: 18px;
    color: #E5E7EB;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    font-size: 24px;
    color: #F9FAF8;
}

.nav__links {
    list-style: none;
}

.nav__links li {
    display: inline-block;
    padding: 0px 10px;
}

.columns {
    display: flex;
}

.col {
    background: peachpuff;
    height: 100px;
    flex: 1 1 0%;
    border: 2px red;
}

.hero-main-text {
    font-size: 48px;
    color: #F9FAF8
}

